body {
    background-color:hsl(217, 54%, 11%);
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: 'Outfit', sans-serif;
}

#one-master-container {
    width: 530px;
    height: 840px;
    background-color: hsl(215, 53%, 10%);
    margin: auto;
    padding-top: 60px;
    border-radius: 80px;
}
#master-container {

    width: 450px;
    height: 760px;
    background-color: hsl(217, 54%, 11%);
    margin: auto;
    padding-top: 40px;
    border-radius: 60px;
}
#container {
    width: 330px;
    margin: auto;
    padding: 0 25px 0 25px;
    background-color: hsl(216, 50%, 16%);
    font-size: 18px;
    border-radius: 20px;
}

.nft-img {
    padding-top: 25px;
}
.NFT-IMG {
    width: 330px;
    height: 330px;
    border-radius: 8px;
}

.Equilibrium {
    margin-top: 30px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;

}


.equi_para {
    margin-top: 30px;
    color: hsl(215, 51%, 70%);
   
}

.icons {
    margin-top: 35px;
}

.ETH {
    float: left;   
    color: hsl(178, 100%, 50%);
    padding-left: 5px;   
}

.left {
    padding-bottom: 30px;
    color: hsl(215, 51%, 70%);
}

hr {
    border-top: 0.5px solid hsl(215, 51%, 70%);
}

.image-avatar {
    height: 40px;
    width: 40px;
    float: left;
}

.footer {
    padding-top: 15px;
    padding-bottom: 40px;
    font-family: 'Outfit', sans-serif;    
}

.text {
    padding-top: 10px;
}
.creation {
    color: hsl(215, 51%, 70%);
    padding-left: 15px;
    
}

.Jules {
    color: white;
}

span {
    word-spacing: 5px;
}

.eth-img  {
    float: left;
}

.clock-img {
    float: left;
    margin-left: 120px;
    margin-right: 8px;
}